@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  /* colors */
  --color-WEATHER-neutral-900: hsl(243, 96%, 9%);
  --color-WEATHER-neutral-800: hsl(243, 27%, 20%);
  --color-WEATHER-neutral-700: hsl(243, 23%, 24%);
  --color-WEATHER-neutral-600: hsl(243, 23%, 30%);
  --color-WEATHER-neutral-300: hsl(240, 6%, 70%);
  --color-WEATHER-neutral-200: hsl(250, 6%, 84%);
  --color-WEATHER-neutral-0: hsl(0, 0%, 100%);
  --color-WEATHER-orange-500: hsl(28, 100%, 52%);
  --color-WEATHER-blue-500: hsl(233, 67%, 56%);
  --color-WEATHER-blue-700: hsl(248, 70%, 36%);
}
